@model List<proyectoPA.BaseDatos.tPelicula>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "ConsultaPelicula";
}

<br>
<h4>Lista de Películas</h4>
@Html.ActionLink("Agregar Película", "RegistroPelicula", "Pelicula", null, new { @class = "btn btn-success", style = "margin-bottom: 20px;" })
<hr>

<br>

<table id="tablaPeliculas" class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Duración</th>
            <th>Director</th>
            <th>Clasificación</th>
            <th>Sinopsis</th>
            <th>Fecha Estreno</th>
            <th>Poster</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.titulo</td>
                <td>@item.duracion</td>
                <td>@item.director</td>
                <td>@item.clasificacion</td>
                <td>@item.sinopsis</td>
                <td>@item.fecha_estreno.ToShortDateString()</td>
                <td>
                    <img src="@item.poster_url" alt="Poster de @item.titulo" style="width: 100px; height: auto;" />
                </td>
                <td>
                    <button class="btn btn-danger btn-eliminar" data-id="@item.id_pelicula">Eliminar</button>
                </td>
                <td>
                    <button class="btn btn-primary">Actualizar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/scripts/eliminarPelicula.js" defer></script>
