
@{
    ViewBag.Title = "Perfil";
}

<body>
    <div class="prof-card">
        <div class="prof-header">
            <img src="~/root/img/nemo2.jpg" alt="Profile Background" class="prof-bg">
            <div class="prof-info">
                <h1>@Session["Usuario"]</h1>
                <p>Aquí encuentra la información de su perfil.</p>
            </div>
        </div>
        <div class="prof-table">
            <div class="prof-row">
                <div class="prof-label">Correo:</div>
                <div class="prof-value">@Session["UsuarioEmail"] </div>
            </div>
            <div class="prof-row">
                <div class="prof-label">Identificación:</div>
                <div class="prof-value">@Session["UsuarioId"]</div>
            </div>
            <div class="prof-row">
                <div class="prof-label">Reservaciones:</div>
                <div class="card-actions">
                    <a href="@Url.Action("ConsultarReservaciones", "Pelicula")" class="btn">Abrir</a>
                </div>
                 </div>
        </div>
        <div class="card-actions">
            <a href="@Url.Action("CambiarContraseña", "Pelicula")" class="btn">Cambiar contraseña</a>
            <a href="@Url.Action("ActualizarPerfil", "Pelicula")" class="btn">Actualizar perfil</a>
        </div>
    </div>


</body>


