<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cinema World</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/root/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/root/css/elementos.css" rel="stylesheet" />
    <script src="~/root/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="~/root/js/cufon-yui.js" type="text/javascript"></script>
    <script src="~/root/js/cufon-replace.js" type="text/javascript"></script>
    <script src="~/root/js/Gill_Sans_400.font.js" type="text/javascript"></script>
    <script src="~/root/js/script.js" type="text/javascript"></script>
</head>

<body id="page1">

    <div class="tail-top">
        <div class="tail-bottom">
            <div id="main">
                <div id="header">
                    <div class="row-1">
                        <div class="fleft"><a>Cinema <span>World</span></a></div>
                        <ul>
                            <li><a href="@Url.Action("Index","Home")"><img src="~/root/img/icon1-act.gif" /></a></li>
                        </ul>
                    </div>
                    <div class="row-2">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                            <li><a href="#">Cartelera</a></li>
                            <li><a href="#">Quienes Somos</a></li>
                        </ul>
                    </div>
                </div>

                <div id="content">
                    <div id="slogan">
                        <div class="image png"></div>
                        <div class="inside">
                            <h2>Estamos rompiendo<span>paradigmas</span></h2>
                            <p>¡Bienvenidos a Cinema World! Disfruta de la mejor experiencia cinematográfica con nuestras películas de estreno, cómodas salas y delicioso menú. ¡Te esperamos para vivir juntos la magia del cine!</p>
                        </div>
                    </div>
                    <section>
                        @RenderBody()
                    </section>
                    <script type="text/javascript">Cufon.now();</script>
                </div>
            </div>
        </div>
<<<<<<< Updated upstream
=======
    </header>


    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="ajax/dashboard.html" class="active ajax-link">
                            <i class="fa fa-dashboard"></i>
                            <span class="hidden-xs">HOME</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("InicioSesion","Home")" class="dropdown-toggle">
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="hidden-xs">Iniciar Sesion</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Registro","Home")" class="dropdown-toggle">
                            <i class="fa fa-table"></i>
                            <span class="hidden-xs">Registro</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-film"></i>
                            <span class="hidden-xs">Películas</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("RegistroPelicula","Pelicula")">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-xs">Agregar Película</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ConsultaPelicula","Pelicula")">
                                    <i class="fa fa-search"></i>
                                    <span class="hidden-xs">Consultar Peliculas</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div id="content" class="col-xs-12 col-sm-10">
                <container>
                    @RenderBody();
                </container>
                <div id="ajax-content"></div>
            </div>
        </div>
>>>>>>> Stashed changes
    </div>
</body>
</html>